<div id="bg-img">
<div id="bg-imglayer">
<header>

<nav class="my-navbar">
<ul>
<!--
<li>
<a href="#">Home</a>
</li> -->
<li>
<a href="#">About</a>
</li>
<li>
<a href="<%= github_pages_path%>">My Github</a>
</li>
<li>
<a href="<%= tweets_path%>">My Tweets</a>
</li>

<li>
<a href="<%= new_contact_path%>">Contact</a>
</li>
<li>
<a href="<%=blog_posts_path%>">My Blog</a>
</li>
</ul>
</nav>
</header>
<!--<div class="line">
</div> -->
<div class="sd-sd">
<div class="my-photo">
</div>
<div class="my-content">
<h3>Hi, This is Vamsi <span style="color:tomato">Bellam.</span></h3>

<span class="large">I'am a</span><span style="color:white" id="typed-sample">
</span>
<h4></h4>
<div class="same-line">
<%= link_to "https://github.com/vamsikri-hash" do %>
<%=fa_stacked_icon "twitter", base: "square-o", class: "sl-tw"%>
<% end %>
<%= link_to "https://github.com/vamsikri-hash" do %>
<%=fa_stacked_icon "facebook", base: "square-o",class: "sl-fb"%>
<% end %>
<%= link_to "https://github.com/vamsikri-hash" do %>
<%=fa_stacked_icon "instagram", base: "square-o", class: "sl-in"%>
<% end %>
<%= link_to "https://github.com/vamsikri-hash" do %>
<%=fa_stacked_icon "github", base: "square-o", class:"sl-gh"%>
<% end %>
<%= link_to "https://reddit.com/user/bellam_vk/" do %>
<%=fa_stacked_icon "reddit", base: "square-o", class:"sl-rt"%>
<% end %>
</div>
</div>
</div>
</div>
</div>
